[Desktop Entry]
Name=DICOMAnonymizer
Comment=DICOMAnonymizer
Exec=/usr/local/bin/DICOMAnonymizer/DICOMAnonymizer
Terminal=false
Type=Application
Icon=/usr/local/bin/DICOMANonymizer/images/app_icon_32.ico
Categories=public.app-categorical.medical