[Desktop Entry]
Name=DICOMAnonymizer
Comment=DICOMAnonymizer
Exec=/opt/DICOMAnonymizer/DICOMAnonymizer
Terminal=false
Type=Application
Icon=
Categories=public.app-categorical.medical